<p id="notice"><%= notice %></p>

<p>
  <strong>Initial balance:</strong>
  <%= @monthly_balance.initial_balance %>
</p>

<p>
  <strong>Final balance:</strong>
  <%= @monthly_balance.final_balance %>
</p>

<p>
  <strong>Current balance:</strong>
  <%= @monthly_balance.current_balance %>
</p>

<p>
  <strong>Account:</strong>
  <%= @monthly_balance.account_id %>
</p>

<p>
  <strong>Month:</strong>
  <%= @monthly_balance.month %>
</p>

<%= link_to 'Edit', edit_monthly_balance_path(@monthly_balance) %> |
<%= link_to 'Back', monthly_balances_path %>
