<%= form_for(@account_record) do |f| %>
  <% if @account_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_record.errors.count, "error") %> prohibited this account_record from being saved:</h2>

      <ul>
      <% @account_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :account_id %><br>
    <select id="account" name="account_record[account_id]" class="form-control">
      <% @accounts.each do |a|%>
        <option value="<%= a.id %>"><%= a.name %> - <%= a.puc_id %></option>
      <% end %>
      <option id="create-account" value="">Crear nueva cuenta</option>
    </select>

  </div>
  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, :html => {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date, :html => {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :html => {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :record_type, :html => {:class => "form-control"} %><br>

    <select name="account_record[record_type]" class="form-control">
      <option value="DEBIT">Débito</option>
      <option value="CREDIT">Crédito</option>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
